<% layout('layouts/boilerplate') %>

<div class="container-fluid p-0">
  <div class="position-relative text-center">
    <!-- Fullscreen Background Image -->
    <img src="/images/listing9.jpg" class="img-fluid w-100 vh-100" alt="homePage" style="object-fit: cover; opacity: 0.6;">
    
    <!-- Text Over Image -->
    <div class="position-absolute top-50 start-50 translate-middle text-black">
      <h1 class="display-3 fw-bold">WanderLust</h1>
      <p class="lead">Stay Luxuriously, Wander Freely</p>
    </div>
  </div>
</div>

